    /*nav开始*/
    .site-nav {
        height: 25px;
        align-content: center;
        text-align: center;
        background-color: #e0dce1;
        position: relative;
        margin: 0 auto;
    }
    .li1 {
        float: left;
        padding: 0 7px;
    }
    .li2 {
        float: left;
        padding: 0 7px;
    }
    .line {
        width: 1px;
        height: 15px;
        padding: 0;
        background-color: #dd234b;
        float: left;
    }
    .fl {
        width: 100px;
        height: 25px;
        left: 60px;
        position: relative;
        top: 5px;
        float: left;

    }
    .fr {
        float: right;
        position: relative;
        top: 5px;
        right: 60px;


    }
    s {
        width: 12px;
        height: 7px;
        overflow: hidden;
        position: absolute;
        bottom: 13px;
        right: 0;
    }

    i {
        width: 12px;
        height: 14px;
        position: absolute;
        bottom: 1px;
        right: 0;
    }
    #destination {
        width: 200px;
        height: 200px;
        background-color: red;
        position: absolute;
        left: 90px;

    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    /*nav结束*/
    /*搜索栏开始*/

    .logo {
        float: left;
        /*width: 400px;*/
        height: 80px;
    }
    .logo img {
        padding: 10px 100px 0 100px;
    }
    .zj {
        float: left;
        /*width: 600px;*/
        height: 80px;
        margin: 0;
    }
    .yb {
        float: right;
       padding-top: 6px;
        background-color: #f9f9f9;
        height: 28px;
        width: 139px;
        margin: 10px 100px 0 0 ;
        color: #666;
        border: 1px solid #dfdfdf;

    }
    .top {
        width: 600px;
        height: 60px;

        text-align: center;
    }


    .behind {
        width: 600px;
        height: 20px;


    }
    .xb {
        width: 10px;
        height: 20px;
        float: left;
        padding: 0;

    }
    #input {
        width: 496px;
        height: 36px;
        float: left;
        color: red;
        border: 2px solid #B61D1D;
        margin: 10px 0 0 0;
    }
    #btn {
        width: 80px;
        height: 40px;
        margin: 10px 0 0 0;
        background-color: #B61D1D;
        float: left;
    }
    .behind li {
        width: 40px;
        float: left;
        padding: 0 5px;
    }
    /*搜索栏结束*/
